body{
  background-color:#A3E0F4;
}
p{
  text-align:center;color:yellowgreen;font-size:60px;
}
h1{
 Font-size:60px;Text-align:center;border-style:dotted;color:yellowgreen;margin:20px;padding:5px;background-color:white}
h2{
 text-align:center; Border-style:dashed;color:powderblue;border-color:orange;background-color:#da532c;font-size:40px;margin:40px;
}
h3{
  text-align:center;color:yellowgreen;font-size:70px;static;
}
h4{
  text-align:center;color:yellowgreen;font-size:28px;static;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;width:300px;
}
.flex-container{
  display:flex;
  justify-content:center;
}
ul{
  color:powderblue;background-color:purple;font-size:20px;background-color:white;padding:60px;border:100px;margin:100px;
}
ol{
  color:white;background-color:powderblue;font-size:20px;margin:auto;
}

ul{
  list-style-type:U+1F981;
}

