body{
  background-color:#cccc33;
}
p{
  text-align:center;color:powderblue;font-size:90px;border-style:dotted;Background-color:orange;
}
h1{
 Font-size:80px;Text-align:center;color:powderblue;margin:20px;padding:5px;}
h2{
 text-align:center; Border-style:dashed;color:powderblue;border-color:powderblue;background-color:yellowgreen;font-size:40px;margin:40px;
}
h3{
  text-align:center;color:powderblue;font-size:28px;static;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;width:300px;
}
.flex-container{
  display:flex;
  justify-content:center;
  Flex-direction:column;
  Align-items:center;
  background-color:orange;
  margin-top: 3%;
  margin-left:30%; margin-right:30%;
  padding:2%;
}
ul{
  color:powderblue;font-size:25px;background-color:orange;padding:10px;border:100px;
}
ol{
  color:orange;background-color:powderblue;font-size:20px;margin-bottom:3%;
}
  .button{
    background-color:green;color:yellow;width:70px;height:60px;
     }
